html {
	font-size: 62.5%;
}

* {
	border: none;
	box-sizing: border-box;
	outline: none;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

//* Default Layout
.site-inner {
	padding-top: 24px;
	
	.content {
		margin-bottom: 48px;
	}
}