.site-header {
	@include padding(18px null);
	background-color: $light;
	
	.mobile-menu-btn {
		@include breakpoint(lg) {
			display: none;
		}
	}
	
	.title-area {
		.site-title {
			@include margin(0 null);
			max-width: 270px;
		}
	}
}