.site-header {
	// @include padding(18px null);
	@include padding(8px null);
	background-color: $light;
	
	.toggle-mobile-menu {
		@include breakpoint(lg) {
			display: none;
		}
	}
	
	.offcanvas-header {
		@include breakpoint(lg) {
			display: none;
		}
	}
	
	.nav-item {
		text-transform: uppercase;
		
		@include breakpoint(lg) {
			margin-bottom: 0;
		}
	}
}