.home {
	/*
	.mediabase-chart-container {
		@include padding(48px null);
	}
	*/
	
	.muzooka-container {
		@include padding(48px null);
		// background-color: $light;
		
		h1 {
			font-size: 3.6rem;
			margin-top: 0;
			margin-bottom: 18px;
			
			@media(min-width:400px) {
				font-size: 4.2rem;
			}
			
			@include breakpoint(sm) {
				font-size: 4.8rem;
			}
			
			@include breakpoint(md) {
				font-size: 4.2rem;
			}
		}
	}
	
	#side-box-ad {}
}