.frame-container {
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	
	iframe {
		@include position(absolute, 0 null null 0);
		height: 100%;
		width: 100%;
	}
	
	&.frame-container-muzooka {
		padding-bottom: 940%;
		
		@media(min-width:400px) {
			padding-bottom: 772%;
		}
		
		@include breakpoint(sm) {
			padding-bottom: 734%;
		}
		
		@include breakpoint(md) {
			padding-bottom: 662%;
		}
		
		@include breakpoint(lg) {
			padding-bottom: 300%;
			// padding-bottom: 688%;
		}
		
		@include breakpoint(xl) {
			padding-bottom: 175%;
			// padding-bottom: 312%;
		}
		
		@include breakpoint(xxl) {
			padding-bottom: 158%;
			// padding-bottom: 298%;
		}
	}
}