.frame-container {
	height: 0;
	position: relative;
	padding-bottom: 38.25%;
	
	iframe {
		@include position(absolute, 0 null null 0);
		height: 100%;
		width: 100%;
	}
}

.muzooka-frame-container {
	@extend .frame-container;
	padding-bottom: 940%;
	
	@media(min-width:400px) {
		padding-bottom: 772%;
	}
	
	@include breakpoint(sm) {
		padding-bottom: 734%;
	}
	
	@include breakpoint(md) {
		padding-bottom: 662%;
	}
	
	@include breakpoint(lg) {
		padding-bottom: 300%;
		// padding-bottom: 688%;
	}
	
	@include breakpoint(xl) {
		padding-bottom: 175%;
		// padding-bottom: 312%;
	}
	
	@include breakpoint(xxl) {
		padding-bottom: 158%;
		// padding-bottom: 298%;
	}
}

.chartmetric-frame-container {
	@extend .frame-container;
	margin-bottom: 48px;
	// padding-bottom: 61.25%;
	padding-bottom: 300%;
	
	@include breakpoint(sm) {
		padding-bottom: 130%;
	}
	
	@include breakpoint(md) {
		padding-bottom: 94%;
	}
	
	@include breakpoint(lg) {
		padding-bottom: 108%;
	}
	
	@include breakpoint(xl) {
		padding-bottom: 64%;
	}
	
	@include breakpoint(xxl) {
		padding-bottom: 55%;
	}
}

.instore-frame-container {
	@extend .frame-container;
	margin-bottom: 48px;
	padding-bottom: 666%;
	
	@media(min-width:400px) {
		padding-bottom: 435%;
	}
	
	@include breakpoint(sm) {
		padding-bottom: 342%;
	}
	
	@include breakpoint(md) {
		padding-bottom: 190%;
	}
	
	@include breakpoint(lg) {
		padding-bottom: 214%;
	}
	
	@include breakpoint(xl) {
		padding-bottom: 132%;
	}
	
	@include breakpoint(xxl) {
		padding-bottom: 114%;
	}
}