.nav-primary {
	.menu-primary {
		li {
			@extend %header400;
			font-size: 1.6rem;
			margin-bottom: 0;
			text-transform: uppercase;
			
			.dropdown-menu {
				li {
					@extend %body;
					text-transform: capitalize;
				}
			}
		}
	}
}

.nav-header {
	display: none;
	
	@include breakpoint(lg) {
		display: block;
	}
}

#offcanvas-navigation {
	.offcanvas-title {
		max-width: 270px;
	}
}

.menu-socials {
	li {
		margin-bottom: 0;
	}
}