//* Colors
$black: #000;
$red:		#e5412c;
$white: #fff;
$light:	#eee;

//* Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&display=swap');
$body:		'Roboto', Helvetia, Arial, sans-serif;
$header:	'Oswald', Arial, Helvetica, sans-serif;

//* Mixins
@mixin flex($justify) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify;
}

//* Placeholders
%body {
	font-family: $body;
	font-weight: 400;
}

%header700 {
	font-family: $header;
	font-weight: 700;
}

%header400 {
	font-family: $header;
	font-weight: 400;
}
